{
  "only": "*.js",
  "env": {
   "test": {
     "presets": [
       ["env", {
         "targets": {
           "node": "current"
         },
         "modules": false,
         "loose": true
        }],
        "flow",
        "stage-0"
      ],
      "plugins": [
        ["transform-inline-imports-commonjs"]
      ]
    }
  },
  "presets": [
    ["env", {
      "targets": {
        "node": "6"
      },
      "modules": false,
      "loose": true
    }],
    "flow",
    "stage-0"
  ],
  "plugins": [
    ["transform-inline-imports-commonjs"],
    ["transform-runtime", { "polyfill": false, "regenerator": true }]
  ]
}
